<ion-header>
  <ion-toolbar>
    <ion-title>Player List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card" *ngFor="let b of players">
    <ion-list>
      <ion-item >
        <ion-avatar slot="start">
          <img
            *ngIf="b.filename"
            src="http://localhost:8080/images/{{b.filename}}"
            alt="image"
          />
        </ion-avatar>
        <ion-label>
          <h1>{{b.brand}}</h1>
          <p>{{b.model}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addplayer()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
